student_project_instructions/project-example-esslingen/simulation_output/scenario_1_model
student_project_instructions/project-example-esslingen/simulation_output/scenario_2_model
student_project_instructions/project-example-esslingen/simulation_output/scenario_3_model